<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head />
    <body>
        <div th:fragment="addModal"  id="clientAdd" class="modal hidden">
            <div class="modal-window">
                <form th:action="@{/clients}" method="post" th:object="${newClientForm}">
                    <div class="row">
                        <div class="six columns">
                            <label>
                                Client name
                                <input class="u-full-width" type="text" th:field="*{name}" required="true" />
                            </label>
                        </div>
                        <div class="six columns">
                            <label>
                                Client alias
                                <input class="u-full-width" type="text" th:field="*{alias}" required="true" />
                            </label>
                        </div>
                    </div>
                    <div class="row modal-button">
                        <div class="twelve columns">
                            <button class="button-primary" type="submit">Save</button>
                            <button class="button" type="button" onclick="clients.hideAdd()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>