<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head />
    <body>
        <div th:fragment="listContactsModal" id="listContacts" class="modal hidden">
            <div class="modal-window">
                <div class="row">
                    <div class="twelve columns">
                        <table class="u-full-width">
                            <thead>
                                <tr>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Mail</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row modal-button">
                    <div class="twelve columns">
                        <button class="button-primary" type="button" onclick="projectInventory.module.client.hideContacts()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>