<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head />
    <body>
        <div id="contactSection" th:fragment="contacts" class="three columns hidden" style="margin-left: 0; width: 26%;">
            <div th:replace="fragments/contact/add-modal :: addModal"></div>
            <div th:replace="fragments/contact/info-modal :: infoModal"></div>
            <div th:replace="fragments/contact/edit-modal :: editModal"></div>

            <div class="navbar">
                <div class="row">
                    <div class="three columns disabled cursor-pointer" onclick="projectInventory.module.client.showSection()">
                        <b>Clients</b>
                    </div>
                    <div class="three columns">
                        <b>Contacts</b>
                    </div>
                    <div class="three columns disabled cursor-pointer" onclick="projectInventory.module.profile.showSection()">
                        <b>Profiles</b>
                    </div>
                    <div class="three columns text-right">
                        <button class="button-primary" type="button" onclick="projectInventory.module.contact.showAdd()"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="content">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Client</th>
                            <th>Info</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="contact : ${contacts}" th:id="'contact-' + ${contact.id}">
                            <td>
                                <i class="fas fa-exclamation-triangle" style="color: orange" th:if="${contact.client == null}"></i>
                                <span class="first-name" th:text="${contact.firstName}"></span>
                            </td>
                            <td class="last-name" th:text="${contact.lastName}"></td>
                            <td class="client" th:text="${contact.client != null ? contact.client.name : '-'}" th:data="${contact.client != null ? contact.client.id : '-1'}"></td>
                            <td>
                                <i class="fas fa-external-link-alt cursor-pointer" th:onclick="'projectInventory.module.contact.showInfo(' + ${contact.id} + ')'"></i>
                            </td>
                            <td>
                                <i class="fas fa-edit cursor-pointer" th:onclick="'projectInventory.module.contact.showEdit(' + ${contact.id} + ')'">
                                </i>
                            </td>
                            <td>
                                <i class="fas fa-times cursor-pointer" th:onclick="'projectInventory.module.contact.showDelete(' + ${contact.id} + ',\'' + ${contact.firstName} + '\',\'' + ${contact.lastName} + '\')'"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>