<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head />
    <body>
        <div id="projectSection" th:fragment="projects" class="nine columns hidden" style="margin-left: 0;">
            <div th:replace="fragments/project/add-modal :: addModal"></div>
            <div th:replace="fragments/project/list-notes-modal :: listNotesModal"></div>
            <div th:replace="fragments/project/list-worktimes-modal :: listWorktimesModal"></div>
            <div th:replace="fragments/project/edit-modal :: editModal"></div>

            <div class="navbar">
                <div class="row">
                    <div class="two columns">
                        <b>Projects</b>
                    </div>
                    <div class="two columns disabled cursor-pointer" onclick="projectInventory.module.note.showSection()">
                        <b>Notes</b>
                    </div>
                    <div class="two columns disabled cursor-pointer" onclick="projectInventory.module.worktime.showSection()">
                        <b>Worktimes</b>
                    </div>
                    <div class="six columns text-right">
                        <button class="button-primary" onclick="projectInventory.module.project.showAdd()"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="content">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Project manager</th>
                            <th>Service manager</th>
                            <th>Client</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Notes</th>
                            <th>Worktimes</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="project : ${projects}" th:id="'project-' + ${project.id}">
                            <td>
                                <i class="fas fa-exclamation-triangle" style="color: orange" th:if="${project.client == null}"></i>
                                <span class="name" th:text="${project.name}"></span>
                            </td>
                            <td class="code" th:text="${project.code}"></td>
                            <td class="project-manager" th:text="${#strings.isEmpty(project.projectManager) ? '-' : project.projectManager}"></td>
                            <td class="service-manager" th:text="${#strings.isEmpty(project.serviceManager) ? '-' : project.serviceManager}"></td>
                            <td class="client" th:text="${project.client != null ? project.client.name : '-'}" th:data="${project.client != null ? project.client.id : '-1'}"></td>
                            <td class="status" th:text="${project.status}"></td>
                            <td class="priority" th:text="${project.priority}"></td>
                            <td>
                                <i class="fas fa-external-link-alt cursor-pointer" th:onclick="'projectInventory.module.project.showNotes(' + ${project.id} + ')'"></i>
                            </td>
                            <td>
                                <i class="fas fa-external-link-alt cursor-pointer" th:onclick="'projectInventory.module.project.showWorktimes(' + ${project.id} + ')'"></i>
                            </td>
                            <td>
                                <i class="fas fa-edit cursor-pointer" th:onclick="'projectInventory.module.project.showEdit(' + ${project.id} + ')'"></i>
                            </td>
                            <td>
                                <i class="fas fa-times cursor-pointer" th:onclick="'projectInventory.module.project.showDelete(' + ${project.id} + ',\'' + ${project.name} + '\')'"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>