::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #1EAEDB;
}

::-webkit-scrollbar-thumb:hover {
    background: #0FA0CE;
}

#container {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

#container .row, #container .columns {
    height: 100%;
}

.modal {
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 100;
}

.modal-window {
    position: absolute;

    left: 25%;
    top: 15%;

    border-radius: 4px;
    padding: 15px;

    width: 50%;

    background-color: #fff;
}

.modal-window.scroll {
    height: calc(70% - 30px);
}

.modal-content.scroll {
    position: absolute;

    width: calc(100% - 30px);
    height: calc(100% - 98px) !important;

    overflow-y: scroll;
}

.modal-content.small.scroll {
    height: calc(100% - 168px) !important;
}

.modal-content.scroll table {
    margin-bottom: 0;
}

.modal-window form {
    margin-bottom: 0;
}

.modal-button {
    border-top: 1px solid #888;

    padding-top: 15px;
}

.modal-button.scroll {
    position: absolute;

    left: 0;
    bottom: 0px;

    padding-left: 15px;

    width: calc(100% - 15px);
    height: 53px !important;
}

.modal-button.first.scroll {
    bottom: 70px !important;
}

.navbar {
    position: relative;

    left: 0;
    top: 0;

    padding: 0 25px;

    width: calc(100% - 50px);
    height: 80px;

    line-height: 80px;
    font-size: 24px;

    border-bottom: 1px solid #eee;
}

.content {
    position: relative;

    left: 0;
    top: 0;

    padding: 25px 25px 0 25px;

    width: calc(100% - 50px);
    height: calc(100% - 106px);

    overflow-y: scroll;
}

tbody > tr:hover {
    background-color: #eee;
}

tbody > tr > td {
    background-color: inherit;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    color: #1EAEDB;
}

.disabled {
    color: #AAA;
}

#commentsList .row {
    margin-bottom: 5px;
}

#commentsList .row:hover {
    background-color: #eee;
}

td > ul {
    margin-bottom: 0;
}

td li:last-child {
    margin-bottom: 0;
}

.button-group {
    font-size: 0;
}

.button-group > button {
    border-right: 1px solid #fff;

    border-radius: 0;

    font-size: 11px;
}

.button-group > button:hover {
    border-right: 1px solid #fff;
}

.button-group > button:first-child {
    border-radius: 4px 0 0 4px;
}

.button-group > button:last-child {
    border-right: 0;

    border-radius: 0 4px 4px 0;
}

.button-group > button:last-child:hover {
    border-right: 0;
}

.custom-checkbox-container {
    position: relative;

    cursor: pointer;

    display: block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox-container input {
    cursor: pointer;

    display: none;
}

.custom-checkbox {
    left: 0;
    top: 0;

    margin-bottom: 15px;

    border: 1px solid #D1D1D1;
    border-radius: 4px;

    padding: 6px 6px;

    height: 26px;
    width: 26px;

    background-color: #FFF;

    display: block;
}

.custom-checkbox:after {
    position: absolute;

    content: "";

    display: none;
}

.custom-checkbox-container input:checked ~ .custom-checkbox:after {
    display: block;
}

.custom-checkbox-container .custom-checkbox:after {
    left: 15px;
    top: 9px;

    border: solid #1EAEDB;
    border-width: 0 3px 3px 0;

    width: 6px;
    height: 12px;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}