<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head />
    <body>
        <div th:fragment="addModal"  id="projectAdd" class="modal hidden">
            <div class="modal-window">
                <form th:action="@{/projects}" method="post" th:object="${projectForm}">
                    <div class="row">
                        <div class="six columns">
                            <label>
                                Project name
                                <input class="u-full-width name" type="text" th:field="*{name}" required="true" />
                            </label>
                        </div>
                        <div class="six columns">
                            <label>
                                Project code
                                <input class="u-full-width code" type="text" th:field="*{code}" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label>
                                Project manager
                                <input class="u-full-width project-manager" type="text" th:field="*{projectManager}" />
                            </label>
                        </div>
                        <div class="six columns">
                            <label>
                                Service manager
                                <input class="u-full-width service-manager" type="text" th:field="*{serviceManager}" />
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="projectStatusAdd">Project status</label>
                            <select id="projectStatusAdd" th:field="*{status}">
                                <option th:each="myStatus : ${statuses}"
                                        th:value="${myStatus}"
                                        th:text="${myStatus}"></option>
                            </select>
                        </div>
                        <div class="six columns">
                            <label for="projectPriorityAdd">Project priority</label>
                            <select id="projectPriorityAdd" th:field="*{priority}">
                                <option th:each="myPriority : ${priorities}"
                                        th:value="${myPriority}"
                                        th:text="${myPriority}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div id="projectClientAdd" class="twelve columns">
                            <label>
                                Client name
                                <select class="u-full-width" th:field="*{client}">
                                    <option value="-1">-</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row modal-button">
                        <div class="twelve columns">
                            <button class="button-primary" type="submit">Save</button>
                            <button class="button" type="button" onclick="projectInventory.module.project.hideAdd()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>